/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1200px;
}
.container-narrow > hr {
  margin: 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
a, p, ul {
  font-family: 'Ubuntu', sans-serif;
}

img.pull-left {
    padding-right: 5px;
}

img.pull-right {
    padding-left: 5px;
}