{% extends "base.html" %}

{% block title %}Archive{% endblock title %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="{% url post_list %}" title="Blog">Blog</a> <span class="divider">/</span></li>
    <li class="active">Archive</li>
</ul>
{% endblock breadcrumbs %}

{% block content_title %}
<h2>Archive</h2>
<ul>
    {% for year in date_list  %}
    <li><a href="{% url archive_year year.year %}" title="{{ year|date:"Y" }}">{{ year|date:"Y" }}</a></li>
    {% endfor %}
</ul>
{% endblock content_title %}