{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <title>{{ site.name }}: {% block title %}Hello World{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
{% compress css %}
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/default.css">
{% endcompress %}
    <link href="{% url "feed" %}" type="application/atom+xml" rel="alternate" title="Feed">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <div id="wrap">
        <div class="container-narrow">
{% block body %}
            <div class="row">
                <div class="col-xs-12">
                    <header>
{% include "nav.html" %}
                        <h1>{{ site.name }} <small>{{ description }}</small></h1>
                        <hr>
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
{% block breadcrumbs %}{% endblock breadcrumbs %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
{% block content_title %}{% endblock content_title %}
{% block content %}{% endblock content %}
                </div>
            </div>
{% endblock body %}
        </div>
        <div id="push"></div>
    </div>
    <div id="footer">
        <div class="container-narrow">
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                    <p class="muted"><a href="{% url "post_list" %}" title="Blog">Blog</a>{% if flatpages %} | {% for page in flatpages  %}<a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a>{% if not forloop.last %} | {% endif %}{% endfor %}{% endif %}</p>
                    <p class="muted">{{ copyright|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% block extra_foot %}{% endblock extra_foot %}
{{ tracking_code|safe }}
</body>
</html>